body {
  margin: 0;
  background-color: #f5f6fa;
}

button {
  border-radius: 3px;
}

.ctn {
  width: 80%;
  margin: 30px auto;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
}

.new-header {
  text-transform: uppercase;
  border-top: 1px solid #c7c7c7;
  color: #888;
  margin-top: 70px;
  padding: 50px 0 20px 0;
}

.header {
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  height: 95px;
  width: 100%;
  background-color: #fff;
  justify-content: start;
  align-items: center;
}

.book-app {
  margin-right: 50px;
  margin-left: 30px;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.books-nav {
  margin-right: 40px;
}

.filter-top {
  width: 150px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  padding: 5px;
  font-size: 16px;
  background-color: #fff;
  outline: none;
}

.book {
  border: 1px solid#e8e8e8;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px 12px 25px 27px;
  position: relative;
}

.rect {
  position: absolute;
  right: 400px;
  top: 45px;
  width: 190px;
  height: 89.9px;
}

.cat {
  color: #888;
  font-size: 15px;
  font-weight: bolder;
  padding-left: 11px;
}

.title {
  color: #121212;
  font-size: 25px;
  font-weight: bolder;
  margin-top: -12px;
  padding-left: 11px;
}

.author {
  color: #4386bf;
  margin-top: -17px;
  font-size: 15px;
  font-weight: 300;
  padding-left: 11px;
}

.cat,
.author,
.title {
  width: 25%;
}

.btns {
  display: flex;
  flex-direction: row;
  width: 25%;
}

.first-btn,
.second-btn,
.third-btn {
  padding: 3px 7px;
}

.second-btn,
.third-btn {
  border-left: 1px solid #c4c4c4;
}

.btn button {
  outline: none;
  border: none;
  background: transparent;
  color: #4386bf;
  cursor: pointer;
}

.book-form {
  margin-top: -30px;
}

.book-form input {
  width: 310px;
  margin-right: 30px;
  padding: 12px;
  outline: none;
}

.book-form input::placeholder {
  font-size: 18px;
  color: #c4c4c4;
}

.book-form select {
  margin-right: 30px;
  width: 150px;
  padding: 9px;
}

.book-form button {
  width: 160px;
  background-color: #0290ff;
  outline: none;
  border: none;
  padding: 12px 20px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.select-tag {
  font-size: 17px;
  color: #888;
  outline: none;
}

.not-found {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  color: #0290ff;
}

.line {
  border-left: 1px solid #e8e8e8;
  position: absolute;
  width: 2px;
  height: 70px;
  right: 300px;
  top: 50px;
}

.update {
  position: absolute;
  right: 50px;
  top: 30px;
  width: 200px;
  font-family: 'Roboto Slab', serif;
}

.chapter {
  width: 126px;
  height: 18px;
  opacity: 0.5;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
  text-transform: uppercase;
}

.intro {
  width: 90px;
  height: 21px;
  font-size: 17px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
  margin-top: -10px;
}

.update button {
  background-color: #0290ff;
  width: 90%;
  padding: 10px;
  font-weight: 100;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  border: none;
  margin-top: -10px;
}
